/*Selects EVERYTHING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333
}